
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nike Run Shop | Product Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <span id="logo">Nike Run Shop</span>
        <span id="cart-icon">Shopping Cart (5)</span>
    </header>
    <div id="go-back-btn">
        <a href="/category.html">Go Back</a>
    </div>
    <div class="container">
        <main>
            <h1>{{ shoe.name }}</h1>
            <section>
                <div id="product-img">
                    <img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="300px" width="300px">
                </div>
                <div id="multi-product-img">
                <ul>
                    <li><img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="50px" width="50px"></li>
                    <li><img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="50px" width="50px"></li>
                    <li><img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="50px" width="50px"></li>
                    <li><img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="50px" width="50px"></li>
                    <li><img src="{% static 'images/' %}/{{shoe.cat}}/{{shoe.image}}" height="50px" width="50px"></li>
                </ul>
                </div>
                <div id="product-desc">
                <p>{{ shoe.desc }}</p>
                </div>
                <div id="product-opt">
                <form action="/add-to-cart" method="POST">
                    {% csrf_token %}
                    <label for="size-select"></label>
                    <select name="size" id="size-select">
                        <option value="{{shoe.name}},{{shoe.price}}">{{ size.s1 }} (${{ shoe.price }})</option>
                        <option value="s2">{{ size.s2 }} (${{ shoe.price }})</option>
                        <option value="s3">{{ size.s3 }} (${{ shoe.price }})</option>
                        <option value="s4">{{ size.s4 }} (${{ shoe.price }})</option>
                        <option value="s5">{{ size.s5 }} (${{ shoe.price }})</option>
                        <div id="buy-btn-icon">
                            <input type="submit" value="Buy" class="buy-btn">
                        </div>
                </form>
                </div>
            </section>

            <section class="sim-itm-cnt">
                <h2>Similar Items</h2>
                <div id="similar-items-content">
                    <div id="item-1">
                        <img src="images/Men/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj.jfif" height="100px"
                            width="100px">
                        <div id="item-1-desc">
                        <span>$19.99</span><br>
                        <span>Pegasus Trail 2</span>
                        </div>
                    </div>
                    <div id="item-2">
                        <img src="images/Men/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj.jfif" height="100px"
                            width="100px">
                        <div id="item-2-desc">
                        <span>$19.99</span><br>
                        <span>Pegasus Trail 2</span>
                        </div>
                    </div>
                    <div id="item-3">
                        <img src="images/Men/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj.jfif" height="100px"
                            width="100px">
                        <div id="item-3-desc">
                        <span>$19.99</span><br>
                        <span>Pegasus Trail 2</span>
                        </div>
                    </div>
                    <div id="item-4">
                        <img src="images/Men/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj.jfif" height="100px"
                            width="100px">
                        <div id="item-4-desc">
                        <span>$19.99</span><br>
                        <span>Pegasus Trail 2</span>
                        </div>
                    </div>
                    <div id="item-5">
                        <img src="images/Men/pegasus-trail-2-mens-trail-running-shoe-JKj6Bj.jfif" height="100px"
                            width="100px">
                        <div id="item-5-desc">
                        <span>$19.99</span><br>
                        <span>Pegasus Trail 2</span>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

</html>